<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminDashBoardFilter</filter-name>
        <filter-class>filter.AdminDashBoardFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>filter.RegisterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ForgotPasswordFilter</filter-name>
        <filter-class>filter.ForgotPasswordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExpertDashBoardFilter</filter-name>
        <filter-class>filter.ExpertDashBoardFilter</filter-class>
    </filter>
    <filter>
        <filter-name>VerifyFilter</filter-name>
        <filter-class>filter.VerifyFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ChangePasswordFilter</filter-name>
        <filter-class>filter.ChangePasswordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>VerifyForgotFilter</filter-name>
        <filter-class>filter.VerifyForgotFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminDashBoardFilter</filter-name>
        <servlet-name>AdminDashBoardController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExpertDashBoardFilter</filter-name>
        <servlet-name>ExpertDashBoardController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VerifyForgotFilter</filter-name>
        <servlet-name>VerifyCodeForgotController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ChangePasswordFilter</filter-name>
        <servlet-name>ChangePassController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VerifyFilter</filter-name>
        <servlet-name>VerifyCodeController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForgotPasswordFilter</filter-name>
        <servlet-name>ForgotPasswordController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <servlet-name>RegisterController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginController</servlet-name>
    </filter-mapping>
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
